name: Update README

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: rahul-jha98/github-stats-transparent@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          username: "D4cLoves"
